<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MailboxApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0309A0BF1BDE032500177C93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0309A0D31BDE032500177C93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0309A0DE1BDE032600177C93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
